@mixin flexbox{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flexbox-sb{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin flex_align_s{
    display: flex;
    justify-content: center;
    align-items: start;
}
@mixin flex_align_e{
    display: flex;
    justify-content: center;
    align-items: end;
}