@use "./kit/variables" as *;
@use "./kit/mixins";

.footer {
  background-color: $black_color;
  font-family: Poppins, sans-serif;

  .footer__content {
    padding: 40px 40px 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    text-align: start;
    color: white;

    .footer__address {
      order: 2;
      .footer__email {
        text-align: start;
        color: $white_color;
        font-size: 14px;
      }
      
      a {
        text-decoration: none;
        color: #dadada;
      }
    }
    .footer__copy {
      order: 3;
      p {
        font-size: 14px;
      }
    }
    .footer__brand {
      order: 2;

      .footer__title {
        text-align: center;
        letter-spacing: 3px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
    .footer__logo {
      width: 90px;
    }
  }
}
