@use "./kit/variables" as *;
@use "./kit/mixins";

@media (max-width: 480px) {
  .header {
    .header__nav {
      padding: 30px 20px;

      .header__company {
        .header__logos {
          font-size: 20px;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 400;
        }
      }

      .header__navbar {
        display: none;
      }
      .header__menu-btn {
        display: block;
      }
    }
  }
}
