@use "./kit/variables" as *;
@use "./kit/mixins";

@media (max-width: 480px) {
  .page {
    background-position: center;
    background-size: 310%;
    height: 730px;
  }
  .hero {
    height: 583px;

    .hero__logo {
      width: 130px;
      margin: 0;
    }
    .hero__title {
      width: auto;
      font-size: 60px;
    }
    .hero__text {
      width: 300px;
      line-height: 1.7;
    }
  }
}
