@use "./kit/variables" as *;
@use "./kit/mixins";

@media (max-width: 480px) {
  .text {
    height: 820px;

    .text__content {
      .text__headline {
        font-size: 20px;
      }
      .text__subheadline {
        font-size: 16px;
      }
      .text__columns {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .text__left,
        .text__right {
          width: auto;
          padding: 0 10px;
        }
      }
    }
  }
}
